selector{
    propiede1: valor;
    propiedad2: valor;
}
body{
    background-color: aquamarine;
}
header{
    background-color: lightslategrey;
}
a{
    color: rgb(12, 12, 11);
    text-decoration: none;
}
/*Selectores de clases
.vinculos{
    color: red;
}*/
.vinculos a{
    color: blue;
 }

 .header-principal{
    background-color: brown;
 }
 .contenido-principal{
    background-color: chartreuse;
 }
 .footer-principal{
    background-color: brown;
 }